.app {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  min-width: 100vw;
  background-color: rgb(255, 255, 255);
  font-family: "IBM Plex Mono", monospace;
}
